ADMIN_EMAIL=
ALLOWED_ORIGINS=
ARIFPAY_API_KEY=
ARIFPAY_BENEFICIARY_ACCOUNT=
ARIFPAY_BENEFICIARY_BANK=
CHAPA_SECRET_KEY=
CHAPA_WEBHOOK_SECRET=
FLUTTERWAVE_HASH=
FLUTTERWAVE_SECRET_KEY=
GEMINI_API_KEY=
JWT_ACCESS_EXPIRATION=
JWT_ACCESS_SECRET=
JWT_REFRESH_EXPIRATION=
JWT_REFRESH_SECRET=
MONGODB_URI=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYSTACK_SECRET_KEY=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
STRIPE_SECRET_KEY=